@import "tailwindcss/preflight";  /* replaces @tailwind base */
@import "tailwindcss/utilities";  /* replaces @tailwind utilities */

/* Optional: only preserve necessary root settings */
:root {
  font-family: Roboto, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
